ORG_UUID=12345-abcd-defg-7809-424234123412
CONTRAST_API_KEY=EXAMPLEAPIKEY
CONTRAST_SERVICE_KEY=EXAMPLESERVICEKEY
CONTRAST_EMAIL=firstname.lastname@myawesomeemployer.net
TEAMSERVER_URL=https://teamserver.awesomeemployer.net
AGENT_TYPE=java?jvm=1_5
DOWNLOAD_NAME=contrast.jar
